{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<br><br>
<div class="small-div">
    <div class="grid-container">
        <div class="grid-child">
            <div class="card-panel hoverable leaderboard left">
                <br>
                <h5 style="text-align: center;"> Leaderboard</h5>
                <br>
                <table class="highlight table-bg" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>Rank</td>
                            <td>Player</td>
                            <td>Score</td>
                        </tr>
                        {% for s, u, p in lbl %}
                        {% if u == user.username %}
                        <tr class="tr-bg">
                            <td class="td-bg">
                                <div class="div-bg">{{ forloop.counter }}</div>
                            </td>
                            {% if p != None and user.is_superuser %}
                            <td class="td-bg">
                                <div class="div-bg"><i class="tiny material-icons">check</i> {{ u }}</div>
                            </td>
                            {% else %}
                            <td class="td-bg">
                                <div class="div-bg">{{ u }}</div>
                            </td>
                            {% endif %}
                            <td class="td-bg">
                                <div class="div-bg">{{ s }}</div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% if p != None and user.is_superuser %}
                            <td><i class="tiny material-icons">check</i> {{ u }}</td>
                            {% else %}
                            <td> {{ u }}</td>
                            {% endif %}
                            <td>{{s}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
                <br>
                <br>
            </div>
        </div>
        <div class="grid-child">
            <div class="card-panel hoverable left-col">
                <h5 style="text-align: center;">Announcements</h5>
            </div>
            <div class="card-panel hoverable left-col">
                <h5 style="text-align: center;">Fill Out Picks!</h5>
                {% if user.profile.picks == None %}
                {% endif %}
            </div>
            <div class="card-panel hoverable left-col">
                <h5 style="text-align: center;">Something Else</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}