{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <div class="row center-align">
        <br><br>
        <div class="card-panel hoverable col m8 offset-m2" style="padding: 0px;">
            <div class = "tab" style="float: left;">
                <h5 style="color: rgb(75, 75, 75);">Login</h5>
            </div>
            <a href="/register">
                <div class="tab tab2" style="float: right;">
                    <h5 style="color: rgb(110, 110, 110);">Register</h5>
                </div>
            </a>
            <br><br><br><br><br><br>
            <form method="POST">
                
                <div style="margin-left: 30px; margin-right: 30px;">
                    {% csrf_token %}
                    <p style="margin-bottom: 40px;"><label for="id_username">Username:</label> {{login_form.username}}</p>
                    <p><label for="id_password">Password:</label> {{login_form.password}}</p>
                </div>
                <br><br>
                <button class="waves-effect waves-light btn mc btn-1" type="submit" name="action">LOGIN</button>
            </form>
            <br><br><br>
        </div>
    </div>
</div>


{% endblock %}