{% extends 'main/base.html' %}
{% block title %}Preseason Picks{% endblock %}
{% block content %}
{% if week <= 1 %}
    <div class="container">
        <br><br>
        <h4 style="text-align: center;">Fill Out Preseason Picks Here!</h4>
        <br><br>
        <form method="POST">
            {% csrf_token %}
            <div class = "card-panel hoverable" style="padding: 20px; margin-bottom: 20px;">
                <br>
                {{form.as_p}}
                <br>
                <br>
                <button class="waves-effect waves-light btn mc btn-1" type="submit">SUBMIT PICKS</button>
                <br>
            </div>
        </form>
    </div>
{% else %}
    <div class="container">
        <br><br>
        <h5>Preseason picks may only be submitted during week 1.</h5>
        <br>
        <a href = '\homepage'>back to home</a>
    </div>
{% endif %}
{% endblock %}